.images-section {
    background: rgb(0, 0, 74);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 40px;
    color: #fff; 
  }
  
.text-container {
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 300px;
}
  
.text-container h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}
  
.text-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
  
.text-container button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: navy; 
    color: white;
    border: none;
    border-radius: 30em; 
    width: 9em;
    height: 3em;
    font-family: 'tahoma';
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
  
.text-container button:hover {
    background-color: #3e8e41;
}
  
.text-container button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #06fbff 0%, #1c0072 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
  
.text-container button:hover::before {
    width: 9em;
}
  
.image-box {
    position: relative;
    padding: 40px;
    border: 5px solid #606eff;
    box-shadow: 0 4px 8px rgba(12, 255, 202, 0.2);
    background-color: rgba(255, 0, 0, 0.1);
    margin-bottom: 70px;
    border-radius: 80px;
   
}
  
.image-box img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

